.testimonials-section {
  background: rgb(23, 21, 21);
  background: linear-gradient(
    180deg,
    rgba(23, 21, 21, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100%;
  overflow: hidden;
  position: relative;
}

.testimonials-header-div {
  padding-top: 4.8rem;
}

.testimonials-header {
  text-transform: uppercase;
  color: #ddd;
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: 1.2px;
  margin-left: 4.8rem;
}

.testimonials-p {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1.05px;
  margin: 1.6rem 4.8rem 0 4.8rem;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  row-gap: 4.8rem;
  margin: 4.8rem 4.8rem 0 4.8rem;
  align-items: center;
  justify-content: center;
}

.testimonial-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.testimonial-text-div {
  display: flex;
  flex-direction: column;
}

.testimonial-text {
  color: white;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 1.05px;
  margin-top: 2.4rem;
}

.testimonial-name {
  color: white;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 1.05px;
  margin-top: 1.6rem;
}

.gallery {
  display: flex;
  gap: 4vmin;
  margin: 4.8rem;
  user-select: none;
  position: relative;
  left: 0;
  transform: translateX(0);
}

.testimonial-gallery-img {
  width: 30vmin;
  height: 46vmin;
  object-fit: cover;
  object-position: 100% center;
  visibility: visible;
  opacity: 1;
}

.testimonial-figure {
  max-height: 100%;
  margin-bottom: 3.2rem;
}

/* 560px */
@media (max-width: 35em) {
  .testimonial-text {
    font-size: 1.4rem;
  }

  .grid-2-cols {
    align-items: start;
  }
}
