.priavcy-policy-main {
  background: rgb(23, 21, 21);
  background: linear-gradient(
    180deg,
    rgba(23, 21, 21, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100vw;
  color: #fff;
  overflow: hidden;
  padding-top: 16rem;
}

/* text styling */

.privacy-policy {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4.8rem;
  margin-bottom: 4.8rem;
}

.content {
  grid-column: 2/4;
}

h1 {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  font-weight: 200;
}

h2 {
  color: #ddd;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  letter-spacing: 1.1px;
  line-height: 1.1;
}

.step {
  color: #ddd;
  font-weight: 200;
  letter-spacing: 1.1px;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

.steps {
  list-style: none;
  margin-bottom: 3.2rem;
}

a:link,
a:active {
  color: #fff;
  transition: all 0.2s ease;
}

a:visited,
a:hover {
  color: #eee;
  cursor: pointer;
}

/* 1200px */
@media (max-width: 75em) {
  .privacy-policy {
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0 4.8rem;
  }
}

/* 800px */
@media (max-width: 50em) {
  .privacy-policy {
    margin: 0 2.4rem;
    overflow-wrap: break-word;
  }
}

/* 560px */
@media (max-width: 35em) {
  .privacy-policy {
    margin: 0 1.2rem;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
