<main class="priavcy-policy-main">
  <section>
    <article class="privacy-policy">
      <div class="content">
        <h1>{{ "PRIVACY_POLICY.TITLE" | translate }}</h1>

        <h2>{{ "PRIVACY_POLICY.COLLECT.TITLE" | translate }}</h2>
        <p>{{ "PRIVACY_POLICY.COLLECT.TEXT" | translate }}</p>
        <ul class="steps">
          <li class="step">
            {{ "PRIVACY_POLICY.COLLECT.ACCOUNT" | translate }}
          </li>
          <li class="step">{{ "PRIVACY_POLICY.COLLECT.USAGE" | translate }}</li>
          <li class="step">
            {{ "PRIVACY_POLICY.COLLECT.DEVICE" | translate }}
          </li>
        </ul>
        <br />
        <h2>{{ "PRIVACY_POLICY.USE.TITLE" | translate }}</h2>
        <p>{{ "PRIVACY_POLICY.USE.TEXT" | translate }}</p>
        <ul class="steps">
          <li class="step">{{ "PRIVACY_POLICY.USE.SERVICE" | translate }}</li>
          <li class="step">
            {{ "PRIVACY_POLICY.USE.PERSONALIZE" | translate }}
          </li>
          <li class="step">
            {{ "PRIVACY_POLICY.USE.COMMUNICATE" | translate }}
          </li>
          <li class="step">{{ "PRIVACY_POLICY.USE.ANALYZE" | translate }}</li>
        </ul>
        <br />
        <h2>{{ "PRIVACY_POLICY.SHARE.TITLE" | translate }}</h2>
        <p>{{ "PRIVACY_POLICY.SHARE.TEXT" | translate }}</p>
        <ul class="steps">
          <li class="step">
            {{ "PRIVACY_POLICY.SHARE.PROVIDERS" | translate }}
          </li>
          <li class="step">{{ "PRIVACY_POLICY.SHARE.LAW" | translate }}</li>
        </ul>
        <br />
        <h2>{{ "PRIVACY_POLICY.SECURITY.TITLE" | translate }}</h2>
        <p>{{ "PRIVACY_POLICY.SECURITY.TEXT" | translate }}</p>
        <br />
        <h2>{{ "PRIVACY_POLICY.RIGHTS.TITLE" | translate }}</h2>
        <p>{{ "PRIVACY_POLICY.RIGHTS.TEXT" | translate }}</p>
        <ul class="steps">
          <li class="step">{{ "PRIVACY_POLICY.RIGHTS.ACCESS" | translate }}</li>
          <li class="step">
            {{ "PRIVACY_POLICY.RIGHTS.CORRECT" | translate }}
          </li>
          <li class="step">{{ "PRIVACY_POLICY.RIGHTS.DELETE" | translate }}</li>
          <li class="step">
            {{ "PRIVACY_POLICY.RIGHTS.OPT_OUT" | translate }}
          </li>
        </ul>
        <br />
        <h2>{{ "PRIVACY_POLICY.CONTACT.TITLE" | translate }}</h2>
        <p>
          {{ "PRIVACY_POLICY.CONTACT.TEXT" | translate }}
          <a href="mailto:support@cibaria.edu">{{
            "PRIVACY_POLICY.CONTACT.MAIL" | translate
          }}</a>
        </p>
      </div>
    </article>
  </section>
</main>
