.feature-section {
  margin: 4.8rem 4.8rem 4.8rem 4.8rem;
}

.grid-2-cols {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  text-align: center;
}

.catch-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 8rem; */
}

.catch-phrase {
  font-size: 3.6rem;
  font-weight: 200;
  margin-bottom: 2.4rem;
}

.catch-text {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
  line-height: 1.6;
  letter-spacing: 1.1px;
}

img {
  max-width: 48rem;
  height: auto;
  border-radius: 3rem;
}

/* 1200px */
@media (max-width: 75em) {
  img {
    max-width: 36rem;
  }

  .catch-div {
    margin-left: 0;
  }
}

/* < 1090 */
@media (max-width: 68em) {
  .grid-2-cols {
    row-gap: 2.4rem;
  }

  img {
    max-width: 28rem;
  }
}

/* 800px */
@media (max-width: 50em) {
  .grid-2-cols {
    row-gap: 2.4rem;
  }
}

/* 640px */
@media (max-width: 40em) {
  .grid-2-cols {
    grid-template-columns: 1fr;
    row-gap: 2.4rem;
  }

  img {
    max-width: 100%;
  }

  .callendar {
    grid-row: 4;
  }
}
