<section class="feature-section">
  <div class="grid-2-cols">
    <div class="catch-div">
      <h3 class="catch-phrase">{{ "FEATURE.TITLE1" | translate }}</h3>
      <p class="catch-text">
        {{ "FEATURE.SUBTITLE1" | translate }}
      </p>
    </div>
    <div>
      <img
        src="images/z-pattern/food-z.jpg"
        alt="{{ 'FEATURE.TITLE1' | translate }}"
      />
    </div>
    <div class="callendar">
      <img src="images/z-pattern/calendar-z.jpg" alt="Calendar" />
    </div>
    <div class="catch-div">
      <h3 class="catch-phrase">{{ "FEATURE.TITLE2" | translate }}</h3>
      <p class="catch-text">
        {{ "FEATURE.SUBTITLE2" | translate }}
      </p>
    </div>
    <div class="catch-div">
      <h3 class="catch-phrase">{{ "FEATURE.TITLE3" | translate }}</h3>
      <p class="catch-text">
        {{ "FEATURE.SUBTITLE3" | translate }}
      </p>
    </div>
    <div>
      <img src="images/z-pattern/cooking-z.jpg" alt="Chicken in a pan" />
    </div>
  </div>
</section>
