<section class="featured-in-section">
  <h4 class="featured-in">{{ "SLIDER.FEATURED" | translate }}</h4>
  <div class="icons-div">
    <div class="icons">
      <img
        src="images/logos/business-insider.png"
        alt="business insider logo"
      />
      <img src="images/logos/forbes.png" alt="Forbes logo" />
      <img
        src="images/logos/the-new-york-times.png"
        alt="The New York Times logo"
      />
      <img src="images/logos/usa-today.png" alt="USA Today logo" />
      <img src="images/logos/wsj.png" alt="Wall Street Journal logo" />
    </div>
    <div class="icons">
      <img
        src="images/logos/business-insider.png"
        alt="business insider logo"
      />
      <img src="images/logos/forbes.png" alt="Forbes logo" />
      <img
        src="images/logos/the-new-york-times.png"
        alt="The New York Times logo"
      />
      <img src="images/logos/usa-today.png" alt="USA Today logo" />
      <img src="images/logos/wsj.png" alt="Wall Street Journal logo" />
    </div>
    <div class="icons">
      <img
        src="images/logos/business-insider.png"
        alt="business insider logo"
      />
      <img src="images/logos/forbes.png" alt="Forbes logo" />
      <img
        src="images/logos/the-new-york-times.png"
        alt="The New York Times logo"
      />
      <img src="images/logos/usa-today.png" alt="USA Today logo" />
      <img src="images/logos/wsj.png" alt="Wall Street Journal logo" />
    </div>
    <div class="icons">
      <img
        src="images/logos/business-insider.png"
        alt="business insider logo"
      />
      <img src="images/logos/forbes.png" alt="Forbes logo" />
      <img
        src="images/logos/the-new-york-times.png"
        alt="The New York Times logo"
      />
      <img src="images/logos/usa-today.png" alt="USA Today logo" />
      <img src="images/logos/wsj.png" alt="Wall Street Journal logo" />
    </div>
    <div class="icons">
      <img
        src="images/logos/business-insider.png"
        alt="business insider logo"
      />
      <img src="images/logos/forbes.png" alt="Forbes logo" />
      <img
        src="images/logos/the-new-york-times.png"
        alt="The New York Times logo"
      />
      <img src="images/logos/usa-today.png" alt="USA Today logo" />
      <img src="images/logos/wsj.png" alt="Wall Street Journal logo" />
    </div>
  </div>
</section>
