<main class="terms-of-service-main">
  <section>
    <article class="terms-of-service">
      <div class="content">
        <h1>{{ "TERMS_OF_SERVICE.TITLE" | translate }}</h1>

        <h2>{{ "TERMS_OF_SERVICE.ACCEPTANCE.TITLE" | translate }}</h2>
        <p>{{ "TERMS_OF_SERVICE.ACCEPTANCE.TEXT" | translate }}</p>
        <br />
        <h2>{{ "TERMS_OF_SERVICE.ELIGIBILITY.TITLE" | translate }}</h2>
        <p>{{ "TERMS_OF_SERVICE.ELIGIBILITY.TEXT" | translate }}</p>
        <br />
        <h2>{{ "TERMS_OF_SERVICE.ACCOUNT.TITLE" | translate }}</h2>
        <ul class="steps">
          <li class="step">
            {{ "TERMS_OF_SERVICE.ACCOUNT.STEPS.CONFIDENTIALITY" | translate }}
          </li>
          <li class="step">
            {{ "TERMS_OF_SERVICE.ACCOUNT.STEPS.NO_SHARING" | translate }}
          </li>
          <li class="step">
            {{ "TERMS_OF_SERVICE.ACCOUNT.STEPS.NOTIFY" | translate }}
          </li>
        </ul>
        <br />
        <h2>{{ "TERMS_OF_SERVICE.USER_CONTENT.TITLE" | translate }}</h2>
        <p>{{ "TERMS_OF_SERVICE.USER_CONTENT.TEXT" | translate }}</p>
        <ul class="steps">
          <li class="step">
            {{ "TERMS_OF_SERVICE.USER_CONTENT.STEPS.OWNERSHIP" | translate }}
          </li>
          <li class="step">
            {{ "TERMS_OF_SERVICE.USER_CONTENT.STEPS.LICENSE" | translate }}
          </li>
          <li class="step">
            {{ "TERMS_OF_SERVICE.USER_CONTENT.STEPS.RESTRICTIONS" | translate }}
          </li>
        </ul>
        <br />
        <h2>{{ "TERMS_OF_SERVICE.PROHIBITED.TITLE" | translate }}</h2>
        <p>{{ "TERMS_OF_SERVICE.PROHIBITED.TEXT" | translate }}</p>
        <ul class="steps">
          <li class="step">
            {{ "TERMS_OF_SERVICE.PROHIBITED.STEPS.ILLEGAL_USE" | translate }}
          </li>
          <li class="step">
            {{ "TERMS_OF_SERVICE.PROHIBITED.STEPS.INTERFERENCE" | translate }}
          </li>
          <li class="step">
            {{ "TERMS_OF_SERVICE.PROHIBITED.STEPS.HARASSMENT" | translate }}
          </li>
        </ul>
        <br />
        <h2>
          {{ "TERMS_OF_SERVICE.INTELLECTUAL_PROPERTY.TITLE" | translate }}
        </h2>
        <p>
          {{ "TERMS_OF_SERVICE.INTELLECTUAL_PROPERTY.TEXT" | translate }}
        </p>
        <br />
        <h2>{{ "TERMS_OF_SERVICE.TERMINATION.TITLE" | translate }}</h2>
        <p>{{ "TERMS_OF_SERVICE.TERMINATION.TEXT" | translate }}</p>
        <br />
        <h2>{{ "TERMS_OF_SERVICE.LIABILITY.TITLE" | translate }}</h2>
        <p>{{ "TERMS_OF_SERVICE.LIABILITY.TEXT" | translate }}</p>
        <ul class="steps">
          <li class="step">
            {{ "TERMS_OF_SERVICE.LIABILITY.STEPS.ERRORS" | translate }}
          </li>
          <li class="step">
            {{ "TERMS_OF_SERVICE.LIABILITY.STEPS.SAFETY" | translate }}
          </li>
        </ul>
        <br />
        <h2>{{ "TERMS_OF_SERVICE.CHANGES.TITLE" | translate }}</h2>
        <p>{{ "TERMS_OF_SERVICE.CHANGES.TEXT" | translate }}</p>
        <br />
        <h2>{{ "TERMS_OF_SERVICE.GOVERNING_LAW.TITLE" | translate }}</h2>
        <p>{{ "TERMS_OF_SERVICE.GOVERNING_LAW.TEXT" | translate }}</p>
        <br />
        <h2>{{ "TERMS_OF_SERVICE.CONTACT.TITLE" | translate }}</h2>
        <p>{{ "TERMS_OF_SERVICE.CONTACT.TEXT" | translate }}</p>
      </div>
    </article>
  </section>
</main>
