.footer-section {
  padding-top: 4.8rem;
  padding-bottom: 2.4rem;
  background-color: #000;
  height: 100%;
  color: #aaaaaa;
}

.footer {
  margin: 0 4.8rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.cibaria-header {
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 1.3px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.cibaria-p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1.1px;
}

.major-links {
  font-size: 1.6rem;
  display: flex;
  gap: 9.6rem;
  list-style: none;
}

.major-link,
.major-link li {
  list-style: none;
  margin-bottom: 1.6rem;
}

.major-link li a:link,
.major-link li a:visited {
  text-decoration: none;
  color: #aaaaaa;
}

.major-link li a:hover,
.major-link li a:active {
  transition: all 0.3s;

  color: #dedede;
}

.major-link li:first-child {
  color: #dedede;
  margin-bottom: 2.4rem;
}

h5 {
  font-size: 1.1rem;
}

/* 800px */
@media (max-width: 50em) {
  .footer-content {
    gap: 1.2rem;
  }

  .cibaria-p {
    font-size: 1.4rem;
  }
}

/* 720px */
@media (max-width: 45em) {
  .footer-content {
    flex-direction: column;
    gap: 1.2rem;
  }

  .major-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    margin-top: 1.2rem;
  }

  .major-link {
    margin-bottom: 1.6rem;
  }
}
