.mobile-menu {
  display: block;
  z-index: 998;
}

.nav-menu {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 900;
  overflow: hidden;
}

.mobile-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 998;
  background-color: transparent;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  position: relative;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4.8rem;
}

.nav-link:link,
.nav-link:visited {
  transition: all 0.2s ease;
  display: block;
  padding: 1.2rem;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #fff;
  transition: width 0.2s;
}

.nav-link:active,
.nav-link:hover::after {
  width: 100%;
}

.logo {
  width: 9.6rem;
}

.language {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.language-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flag {
  width: 3.6rem;
  height: 2.4rem;
}

.admin-link:link,
.admin-link:visited {
  color: #d4ae6c !important;
  font-weight: 600;
}

.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

/* < 562px */
@media (max-width: 35em) {
  .wrapper {
    padding: 2.4rem 2.4rem;
  }

  .logo {
    width: 7.2rem;
  }

  .menu-icon {
    width: 3.6rem;
    height: 3.6rem;
  }
}
