<main class="priavcy-policy-main">
  <section>
    <article class="privacy-policy">
      <div></div>
      <div class="content">
        <h1>{{ "CONTACT_US.TITLE" | translate }}</h1>

        <p>
          {{ "CONTACT_US.INTRO" | translate }}
        </p>
        <br />
        <h2>{{ "CONTACT_US.GENERAL_INQUIRIES.TITLE" | translate }}</h2>
        <p>
          {{ "CONTACT_US.GENERAL_INQUIRIES.TEXT" | translate }}
          <a href="mailto:info@cibaria.edu">{{
            "CONTACT_US.GENERAL_INQUIRIES.MAIL" | translate
          }}</a>
        </p>
        <br />
        <h2>{{ "CONTACT_US.SUPPORT.TITLE" | translate }}</h2>
        <p>
          {{ "CONTACT_US.SUPPORT.TEXT" | translate }}
          <a href="mailto:support@cibaria.edu">{{
            "CONTACT_US.SUPPORT.MAIL" | translate
          }}</a>
        </p>
        <br />
        <h2>{{ "CONTACT_US.PRIVACY_CONCERNS.TITLE" | translate }}</h2>
        <p>
          {{ "CONTACT_US.PRIVACY_CONCERNS.TEXT" | translate }}
          <a href="mailto:privacy@cibaria.edu">{{
            "CONTACT_US.PRIVACY_CONCERNS.MAIL" | translate
          }}</a>
        </p>
        <br />
        <h2>{{ "CONTACT_US.BUSINESS_PARTNERSHIPS.TITLE" | translate }}</h2>
        <p>
          {{ "CONTACT_US.BUSINESS_PARTNERSHIPS.TEXT" | translate }}
          <a href="mailto:partners@cibaria.edu">{{
            "CONTACT_US.BUSINESS_PARTNERSHIPS.MAIL" | translate
          }}</a>
        </p>
        <br />
        <h2>{{ "CONTACT_US.SOCIAL_MEDIA.TITLE" | translate }}</h2>
        <p>{{ "CONTACT_US.SOCIAL_MEDIA.TEXT" | translate }}</p>
        <ul class="steps">
          <li class="step">
            <a href="https://www.facebook.com/cibaria" target="_blank"
              >Facebook</a
            >
          </li>
          <li class="step">
            <a href="https://www.instagram.com/cibaria" target="_blank"
              >Instagram</a
            >
          </li>
          <li class="step">
            <a href="https://www.tiktok.com/cibaria" target="_blank">TikTok</a>
          </li>
          <li class="step">
            <a href="https://www.youtube.com/cibaria" target="_blank"
              >YouTube</a
            >
          </li>
          <li class="step">
            <a href="https://www.x.com/cibaria" target="_blank">X</a>
          </li>
        </ul>
        <br />
        <h2>{{ "CONTACT_US.MAILING_ADDRESS.TITLE" | translate }}</h2>
        <p>{{ "CONTACT_US.MAILING_ADDRESS.TEXT" | translate }}</p>
        <span>Cibaria HQ</span>
        <p>123 Recipe Lane,</p>
        <p>Foodie City, FL 12345</p>
        <p>
          {{ "CONTACT_US.FOOTER" | translate }}
        </p>
      </div>
      <div></div>
    </article>
  </section>
</main>
