@import "../../../shared/styles/button-styles.css";

.cta-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4.8rem 4.8rem;
  align-items: center;
  column-gap: 4.8rem;
  min-height: 60vh;
}

.cta-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cibaria-header {
  font-size: 1.8rem;
  letter-spacing: 1.3px;
  font-weight: 300;
  text-transform: uppercase;
}

.cibaria-subheader {
  font-size: 4.8rem;
  font-weight: 600;
  margin: 3.2rem 0;
  letter-spacing: 1.05px;
}

.cibaria-text {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 1.1px;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.cta-img {
  max-width: 32rem;
  background-color: #000;
  border-radius: 50%;
}

.cta-inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.cta-inputs label {
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.cta-inputs input::placeholder {
  font-size: 1.6rem;
  font-weight: 300;
}

.cta-inputs input:focus {
  outline: 2px solid rgb(231, 188, 89);
}

.cta-inputs input,
.cta-inputs select {
  margin-bottom: 2.4rem;
  padding: 1.6rem;
  border: 1px solid #000;
  border-radius: 0.4rem;
}

.cta-inputs select {
  font-size: 1.6rem;
  font-weight: 300;
  background-color: transparent;
  cursor: pointer;
}

option {
  font-size: 1.6rem;
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  border: none;
}

option:hover {
  background-color: #f0f0f0;
  color: #000;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translate(-100%);
  transition: all 1s;
}

.show {
  filter: blur(0);
  transform: translate(0);
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* 1200px */
@media (max-width: 75em) {
  .cta-section {
    grid-template-columns: 1fr;
    margin: 4.8rem 2.4rem;
    row-gap: 4.8rem;
  }
  .cta-text {
    width: 100%;
    text-align: center;
  }
  .cta-img {
    display: none;
  }
}

/* 800px */
@media (max-width: 50em) {
  .cta-text {
    width: 100%;
    text-align: center;
  }

  .cta-inputs {
    width: 100%;
  }

  input {
    width: 100%;
    margin: 0;
  }
}

/* < 562px */
@media (max-width: 35.1em) {
  .cibaria-header {
    font-size: 1.6rem;
  }

  .cibaria-subheader {
    font-size: 3.6rem;
  }

  .cibaria-text {
    font-size: 2rem;
  }

  .cta-inputs label {
    font-size: 2rem;
  }
}
